 .App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
   color: white ;
  justify-content: center;
  background-image:linear-gradient(79deg, #b4c4c7 49% ,rgba(46, 182, 192, 0.933),#4df7c4 ) !important;
} 
 .Auth-Name-Container,.login-from,.Register-from{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
@media screen and(min-width: 600px){
}  .Auth-Name-Container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  letter-spacing: 3px;
  margin: 50px 0;
  /* margin: 0.5rem; */
  text-transform:capitalize;
  /* width: 0%; */
  } 

 
label{
text-align: left;
padding: 0.25rem 0;
}
input{
margin: 1rem 0;
padding: 1rem;
width: 50vh !important;

border: none;
border-radius: 10px;
} 
 button.btn-primary{
  border: none;
  background-color: white;
  padding: 1rem;
  margin: 17px 0;
  border-radius: 10px;
  cursor: pointer;
color: #00b8d8 ;
}
.btn-link{
  background: none;
  color: white;
  text-decoration: underline;
} 

 .navbar {
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  
} 

 .navbar-item {
  margin: 0 10px;
  cursor: pointer;
}
p{
  margin: 0 20px;
} 

